@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400..500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@300..600&display=swap');

body {
    font-family: 'Instrument Sans';
    font-weight: 400;
}

h1,
h2,
h3,
h4 {
    font-weight: 500 !important;
    letter-spacing: -0.025rem !important;
}

code,
pre {
    font-family: 'Geist Mono', ui-monospace, SFMono-Regular, Menlo, Monaco,
        Consolas, 'Liberation Mono', 'Courier New', monospace;
}

b,
strong,
.font-semibold {
    font-weight: 500 !important;
}

.prose :where(a):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
    font-weight: 500 !important;
    color: rgb(var(--primary-light)) !important;
}

.codeblock-dark div:not(:last-child) {
    color: #fafafa;
}
